body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}
.head {
    color: black;
    background-color: lime;
    padding: 10px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    position: fixed;
    top: 0;
    margin-top: 1px;
    width: 100%;
    text-align: center;

}
.links {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}
a {
    color: black;
    background-color: lime;
    padding:10px;
    margin: 1px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0.0.9);
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: 600;

}