body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    transition: background-color 2s;
}

button {
    color: black;
    background-color: lime;
    border: none;
    border-radius: 5px;
    padding: 10px;
}