body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

button {
    position: fixed;
    top: 25px;
    right: 20px;
    background-color: lime;
    border: none;
    padding: 3px;
    border-radius: 4px;
    font-size: 20px;
    color: black;
    border: 0;
    transition: transform 0.4s ease-in-out;
}

button.active {
    transform: translateX(-72px);
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: lime;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

nav.active {
    transform: translateX(0);
}

nav ul {
    padding: 10px;
    list-style-type: none;
    margin: 0;
}

nav ul li {
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: black;
}