body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

#container {
    width: 500px;
    height: 300px;
    overflow: hidden;
}

#img-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

#img-container img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}