body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

button {
    color: black;
    background-color: lime;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    
}

#container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    
}

.notification {
    color: black;
    background-color: lime;
    padding: 10px;
    border: none;
    margin: 3px;
    
}
